@model TranspositionWeb.Models.NotasModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Notas Model</h4>
<hr />


@using (Html.BeginForm("Edit", "Notas", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <table class="table">

        <tr>
            <td>
                @Html.EditorFor(m => m.notasCromaticas, new { htmlAttributes = new { @readonly = "readonly" } }) &nbsp; @Html.EditorFor(m => m.IsChecked)
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="Transponer" class="btn btn-primary" />
            </td>
        </tr>

    </table>
}


<div>
    <a asp-action="Index">Principal</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
